[submodule "week2/fsjs-p1-c3-ref"]
	path = week2/fsjs-p1-c3-ref
	url = https://github.com/mspadilapadli/fsjs-p1-c3-ref.git
[submodule "week2/fsjs-p1-c4-ref"]
	path = week2/fsjs-p1-c4-ref
	url = https://github.com/mspadilapadli/fsjs-p1-c4-ref.git
